---
layout: default
---
<div class="grid-4">
  {% assign total = page.boards | size %}
  {% for board in page.boards %}
    <a href="{{ board.url }}" class="card">
      <p>{{ board.title }}</p>
      <img src="{{ board.image }}" alt="{{ board.title }}">
      <p>SoC: {{ board.soc }}<br/>{{ board.purpose }}</p>
    </a>
  {% endfor %}

  {%- assign remainder = total | modulo: 4 -%}
  {%- assign placeholders = 4 | minus: remainder -%}
  {%- if remainder != 0 -%}
    {% for i in (1..placeholders) %}
      <div class="card placeholder"></div>
    {% endfor %}
  {%- endif -%}
</div>

<div class="grid-4">
  {% assign total = page.applications | size %}
  {% for application in page.applications %}
    <a href="{{ application.url }}" class="card">
      <p>{{ application.title }}</p>
      <img src="{{ application.image }}" alt="{{ application.title }}">
      <p>SoC: {{ application.soc }}<br/>{{ application.purpose }}</p>
    </a>
  {% endfor %}

  {%- assign remainder = total | modulo: 4 -%}
  {%- assign placeholders = 4 | minus: remainder -%}
  {%- if remainder != 0 -%}
    {% for i in (1..placeholders) %}
      <div class="card placeholder"></div>
    {% endfor %}
  {%- endif -%}
</div>

<div>
    {{ content }}
</div>
